body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Inter',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,  'Inter', 'Courier New', 
    monospace;
}

.form  {
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 70vh; */
}
.body .tag{
  
  /* align-self: flex-start; */
  margin-left: 5px;
}
.heading, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  margin-bottom: 15px;
  text-align: center;
}
h4{
  margin-top: 0;
  margin-bottom: 50px;
}

.lighter {
  color: grey;
}


.input{
  margin: 5px;
} 


.MuiInputBase-adornedStart	{
  background-color: #f8f9fd 
  ;
}

.MuiInputBase-adornedStart :nth-child(2){
  background-color: white;
  padding-left: inherit;
}

.JoyRadioGroup-root{
  max-width: 400px;
  max-height: 200px; 
}


.circleCheck{
  padding: 71px;
  transform: scale(3);
}

/* .MuiLinearProgress{
  position: absolute;
} */

/* .MuiLinearProgress-root{
  position: absolute;
} */
/* .MuiLinearProgress:nth-child(8) {
  position: absolute;
} */

/* .ProgressStepper:nth-child(1){
  position:absolute;
} */
/* .MuiLinearProgres-bar {
  background-color: red;
} */



/* <span class="MuiLinearProgress-root ProgressStepper-linearProgress-6 MuiLinearProgress-colorPrimary MuiLinearProgress-determinate css-eglki6-MuiLinearProgress-root" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span class="MuiLinearProgress-bar ProgressStepper-bar-7 MuiLinearProgress-barColorPrimary MuiLinearProgress-bar1Determinate css-5xe99f-MuiLinearProgress-bar1" style="transform: translateX(-100%);"></span></span> */
/* <div class="ProgressStepper-labelContainer-5"><span class="ProgressStepper-stepper__step__index-3">4</span></div> */