body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Inter',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,  'Inter', 'Courier New', 
    monospace;
}

.form  {
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
  /* min-width: 70px; */
  min-height: 70vh;
  /* text-align: center; */
  /* display: inline-block; */

  /* min-width: 100vh; */
}
/* ///// */
/* .body{
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-width: 70px; */
  /* text-align: center;

  min-height: 70vh;
}  */



/* ////// */
.body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .tag{
  
  align-self: flex-start;
  margin-left: 5px;
}
.heading, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  margin-bottom: 15px;
  text-align: center;
}
h4{
  margin-top: 0;
  margin-bottom: 50px;
}
/* .sub-heading{
  display: flex;
  justify-content: center;
  align-items: center;

} */
.lighter {
  color: grey;
}


.input{
  margin: 5px;
} 
